:root {
    --rich-black: #0A0908;
    --gray-1: #333333;
    --gray-2: #4F4F4F;
    --gray-3: #828282;
    --gray-4: #BDBDBD;
    --gray-5: #E0E0E0;
    --gray-6: #F2F2F2;
    --gunmetal: #22333B;
    --ghost-white: #FAFAFA;
    --bittersweet: #F66B68;
    --yellow-red: #EBB956;
    --maya-blue: #6AC5F6;

    --bg-color: var(--ghost-white);
}

.text-red {
    color: var(--bittersweet);
}

.text-blue {
    color: var(--maya-blue);
}

.text-yellow {
    color: var(--yellow-red);
}